.cards-props{
    background-color: #383838;
    color: white;
    margin: 30px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.titlefunc{
    color: #f9ca24
}
.title{
    color: #6ab04c;
}

